{:deps {com.github.luben/zstd-jni           {:mvn/version "1.5.7-7"}
        com.taoensso/telemere               {:mvn/version "1.2.1"}
        com.taoensso/telemere-slf4j         {:mvn/version "1.2.1"}
        hato/hato                           {:mvn/version "1.0.0"}
        io.dropwizard.metrics/metrics-core  {:mvn/version "4.2.38"}
        io.github.gremid/clj-xml            {:git/sha "ffcf1d87cf9eca8a6055edb0cd61ae88e8763589"}
        io.github.gremid/clj-xml-schema     {:git/sha "a70ad7a98ded2c6879dfb95f77dc1c29134c0ee0"}
        metosin/jsonista                    {:mvn/version "0.3.14"}
        metosin/malli                       {:mvn/version "0.20.1"}
        org.apache.commons/commons-compress {:mvn/version "1.28.0"}
        org.clojure/core.async              {:mvn/version "1.8.741"}
        org.slf4j/slf4j-api                 {:mvn/version "2.0.17"}
        tick/tick                           {:mvn/version "1.0"}}}
